.Menu__toolbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.Menu__logo {
	font-size: 36px;
	font-weight: bold;
	text-decoration: none;
	color: #271F33;
}
.Menu__categories {
	display: flex;
	width: 200px;
	align-items: center;
	justify-content: space-between;
}
.Menu__category {
	color: #271F33;
	text-decoration: none;
}
.Menu__category:hover {
	color: #54426B;
}
#__next {
	min-height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
}