.featuredPost {
  position: relative;
  background-color: rgba(0, 120, 201, 0.7) !important;
  margin-bottom: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255,255,255,.4);
}
.featuredPostContent {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.postInfoSpan {
  margin-right: 10px;
}
.postTitle {
  margin-right: 50px;
  height: 170px;
  overflow: hidden;
  margin-bottom: 10px !important;
}
.postLink {
  color: black;
  text-decoration: none;
  display: inline-block;
}
.postLink:hover {
  color: #54426B;
}